* {
    background-color: gray;
}
h1{
    font-family: serif, 'Times New Roman', Times;
    font-size: 150px;
    text-align: center;
    -webkit-text-stroke: 0.02cm;
    -webkit-text-stroke-color: black; 
    -webkit-text-stroke-width: 0.06cm;
    font-size: 150px;
    font-weight: 900;
    color: white;

}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 4px double red;
    
}
.intro {
    text-align: center;
    font-family: serif, times, Times New Roman;
    font-size: 75px;
    
}
p {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: yellow;
    -webkit-text-stroke: 0.04cm;
    -webkit-text-stroke-color: black;
}
h2 {
    text-align: center;
    color: darkorange;
    font-size: 25px;
    background-color: ghostwhite;
    -webkit-text-stroke: 0.03cm;
    -webkit-text-stroke-color: black;
    border: 3px solid darkgreen;

}
ul, ol {
    font-size: 24px;
    font-family: serif;
    border: 6px solid black;

}
button {
    background-color: purple;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    }